@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Raleway:400,700");
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: 'Raleway', sans-serif;
  background: white !important; }

.app {
  text-align: center; }
  .app .npm {
    max-width: 320px; }
  .app h2 {
    color: #f39c12;
    margin-top: 50px;
    padding: 20px; }
    .app h2 a {
      text-decoration: underline;
      text-decoration-style: wavy;
      color: #34495e; }
  .app .header-description {
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    margin-bottom: 25px; }
  .app ul li {
    display: inline-block;
    margin: 5px; }
    .app ul li a {
      font-family: 'Raleway', sans-serif;
      font-weight: bold;
      text-decoration: none;
      color: #2c3e50; }
      .app ul li a:hover {
        color: #f39c12; }

.demo-2 {
  margin: auto;
  max-width: 768px; }

.carouxel {
  text-align: center;
  position: relative;
  display: flex;
  height: 768px;
  width: 100%; }
  .carouxel__image {
    position: absolute;
    width: 100%; }
  .carouxel__content {
    position: absolute;
    text-align: left;
    color: white;
    margin: auto;
    position: relative;
    width: 90%;
    z-index: 999; }
  .carouxel__overlay {
    position: absolute;
    width: 100%;
    top: 25%;
    height: 75%;
    background: -moz-linear-gradient(top, transparent 0%, black 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, transparent 0%, black 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, transparent 0%, black 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 );
    /* IE6-9 */ }

.slides {
  position: relative; }
  .slides .slick-prev, .slides .slick-next {
    z-index: 999;
    position: absolute;
    top: 45%; }
  .slides .slick-prev {
    left: 5%; }
  .slides .slick-next {
    right: 5%; }
  .slides .slick-dots {
    z-index: 999;
    position: relative;
    top: -50px; }
    .slides .slick-dots li:before {
      content: "○";
      color: gray;
      font-size: 170%;
      /* or whatever */
      padding-right: 5px; }
    .slides .slick-dots button:before {
      content: "○";
      font-size: 170%;
      /* or whatever */
      padding-right: 5px; }
    .slides .slick-dots .slick-active:before {
      content: "○";
      color: white;
      font-size: 170%;
      /* or whatever */
      padding-right: 5px; }

@media (min-width: 0px) {
  .carouxel {
    height: 320px; }
    .carouxel__image {
      width: auto;
      height: 100%;
      object-fit: cover;
      overflow: hidden; }
    .carouxel__content {
      padding: 5%;
      font-size: 60%; }
  .slick-dots {
    display: none !important; } }

@media (min-width: 320px) {
  .carouxel__image {
    width: 100%; }
  .carouxel__content {
    font-size: 60%; } }

@media (min-width: 480px) {
  .carouxel {
    height: 480px; }
    .carouxel__content {
      font-size: 80%; }
  .slick-dots {
    display: block !important; } }

@media (min-width: 992px) {
  .carouxel {
    height: 600px; }
    .carouxel__content {
      font-size: 100%; } }
